@font-face {
  font-family: LatoTest;
  src: url(assets/fonts/Lato-Regular.woff2) format('woff2'),
      url(assets/fonts/Lato-Regular.woff) format('woff');
}
@font-face {
  font-family: MontserratTest;
  src: url(assets/fonts/Montserrat_regular.ttf)  format('truetype');
}
